@use 'properties';
@use 'hero';
@use 'shows';
@use 'albuns';
@use 'listen-yourway';
@use 'faq';
@use 'footer';
@use 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

body {
    background-color: properties.$backgroundColor;
    font-family: sans-serif;
}

@mixin text($fontSize: 16px) {
    color: properties.$mainTextColor;
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: properties.$secondaryTextColor;
}

.title--big {
    @include title(40px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: properties.$secondaryTextColor;
    text-decoration: underline;
}

.button {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: properties.$secondaryTextColor;
    margin: 0 auto;
    background-color: properties.$bgColorPrimaryButton;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid properties.$backgroundColor;

    &:hover {
        background-color: lighten(properties.$bgColorPrimaryButton, 3%);
        cursor: pointer;
    }

    &--secondary {
        background-color: properties.$bgColorSecondaryButton;
        border-color: properties.$bgColorSecondaryButton;

        &:hover {
            background-color: lighten(properties.$bgColorSecondaryButton, 3%);
        }
    }

    &--dark {
        background-color: rgba(0, 0, 0, 0.8);
        border-color: properties.$secondaryTextColor;

        &:hover {
            background-color: properties.$secondaryTextColor;
            color: properties.$backgroundColor;
        }
    }
}